<h3 class="name">
  <% if category.labels? %><span class="labels">[<%= category.labels.join(', ') %>]</span><% end %>
  <%= link_to category.name, category_path(category) %> <span class="count">&mdash; <%= category.discussions.count %> discussions</span>
</h3>
<p class="description">
  <%= category.description %>
  <% if @current_user && @current_user.moderator? %>
    <%= link_to "[edit]", edit_category_path(category) %>
  <% end %>
</p>